:root{
    --primary: #C22D30;
    --secondary: #6F3B6F;
    --orange: #E59866;
    --yellow: #FCE28D;
    --mustard:#C39755;
    --white: white;
}
* {
    margin: 0;
    padding: 0;
 }

/* Standard Styles -- This includes the header and the footer */

.header {
    background-color: var(--primary);
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: none;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    flex: 1;
}

.links{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav__logo{
    margin-left: 30px;
    padding-bottom: 20px;
    
}

.nav__link{
    color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;

}

.footer{
    /* width: 1400px; */
    background-color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    padding: 1em;
    margin: auto;
    align-items: center;
}

.copyright {
    display: flex;
    margin: auto;
    justify-content: center;
}

.footer__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    color: var(--white);
}
.contentBody{
    display: flex;
    flex-wrap: wrap;
}

/*Hero Styles*/

.hero__home{
        height: 300px;
        background-image: url(images/header_image.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        
}

.hero__title{
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: var(--white);
    padding: 0 40px 0 40px;
}

.hero__text {
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--white);
}
/*First Section*/

.article__text{

    margin: auto;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary);
    font-size: 2em;
}

.box {
    float: left;
    width: 33.33%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.box__text{
    display: flex;
    flex-direction: row;
    justify-content:center;
   font-family: Arial, Helvetica, sans-serif;
}

.box__img {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    width: 500px;
    
}


.article__home {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}


.button{
    margin-top: 15px;
    background-color: var(--secondary);
    border: none;
    border-radius: 8px;
    color: var(--white);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    align-self: center;
    width: fit-content;
    font-family: Helvetica, sans-serif;
}

.button:hover{
    margin: 15px;
    background-color: var(--yellow);
    border: none;
    border-radius: 8px;
    color: var(--secondary);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

/*Table Styles*/
.table{
    margin-top: 20px;
}

.table__header{
    font-family: 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    padding-bottom: 20px;
    color: var(--primary);
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.table__names {
    color: var(--secondary);
}

.table__stats{
    border: 3px dotted var(--orange);
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;

}

.table__numbers{
    text-align: center;
}

/*Comparison Image*/

.comparison{
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

.comparison__image{
    display: flex;
    margin: auto;

}

/*Style for characters page*/

.character {
    padding-left: 100px;
    padding-right: 100px;
    font-family: Helvetica, sans-serif;
    font-family: 'Lucida Sans', Arial, sans-serif;

}
    
.character__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.character__content:hover {
    transform: scale(1.02);
}

.character__images {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border-right: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
}

.character__bio {
    flex: 1;
    padding: 1rem;
}

.character h1{
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary);
}

.character h2 {
    margin-top: 0;
    font-size: 24px;
    color: var(--primary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.character__title {
    font-size: 18px;
    font-style: italic;
    color: var(--orange);
    font-family: Helvetica, sans-serif;
}

.character__actor {
    font-weight: bold;
    color: var(--orange);
    font-size: 21px;
    font-family: Helvetica, sans-serif;
}

.character__p {
    font-size: 14px;
    color: black;
    font-family: Helvetica, sans-serif;
}

/*Styling for Plot page*/
.plot {
    padding: 1.5em;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto 1.5em auto;
    line-height: 1.6;
    align-items: start;
}

.cast {
    padding: 1.5rem;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .cast__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    animation: fadeInDown 1s ease-out;
    color: #222;
  }
  
  .cast__member {
    margin-bottom: 2rem;
    line-height: 1.4;   
  }
  
  .cast__member-image {
    float: left;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
    transition: transform 0.3s ease;
  }
  
  .cast__member-image:hover {
    transform: scale(1.05);
  }
  
  .cast__member-name {
    font-size: 1.25rem;
    margin: 0.5rem 0 0.25rem 0;
    font-weight: 900;
    color: #2b2b2b;
  }
  
    .cast__member-bio {
    text-align: justify;
  }


/*Media queries*/
@media (max-width: 980px) {
    
    nav {
        flex-direction: column; 
        align-items: center;
        padding: .5rem;
      }
    
      .links {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-end; 
        margin-right: 20px;
      }
    
      .nav__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
      }
    
      .nav__link {
        margin-right: 0;    
        margin-bottom: 0.5rem;
      }
      }
      
      /*Hero Styles*/
      
      .hero__home {
        height: auto; 
        padding: 80px 0;
      }
      
      .hero__title {
        font-family: 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder;
        font-size: 30px;
        color: var(--white);
        padding: 0 20px; 
      }
      
      .hero__text {
        font-family: 'Lucida Sans', Arial, sans-serif;
        font-size: 16px; 
        color: var(--white);
        padding: 0 20px; 
      }
      
      /*First Section*/
      
      .article__text {
        margin: 20px; 
        padding-bottom: 10px; 
        font-family: Arial, Helvetica, sans-serif;
        color: var(--primary);
        font-size: 1.5em; 
        text-align: center; 
      }
      
      .box__text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em; 
      }
      .box__img {
        display: flex;
        flex-direction: column;
        align-self: center;
        flex-wrap: wrap;
        width: 80%; 
        max-width: 400px; 
        margin-bottom: 10px; 
      }
      
      .article__home {
        display: flex;
        flex-direction: column;
        margin-top: 20px; 
      }
      
      .button {
        margin-top: 10px; 
        background-color: var(--secondary);
        border: none;
        border-radius: 8px;
        color: var(--white);
        padding: 8px 18px; 
        text-align: center;
        text-decoration: none;
        font-size: 12px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        align-self: center;
        width: fit-content;
        font-family: Helvetica, sans-serif;
      }
      
      .button:hover {
        margin: 10px; 
        background-color: var(--yellow);
        border: none;
        border-radius: 8px;
        color: var(--secondary);
        padding: 8px 18px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px; 
        font-family: Helvetica, sans-serif;
      }
      
      /*Table Styles*/
      .table {
        margin-top: 15px; 
      }
      
      .table__header {
        font-family: 'Lucida Sans', Arial, sans-serif;
        margin: auto;
        padding-bottom: 15px; 
        color: var(--primary);
        font-size: 1.5em; 
        justify-content: center;
      }
      
      .table__names {
        color: var(--secondary);
        font-size: 0.9em; 
      }
      
      .table__stats {
        border: 3px dotted var(--orange);
        max-width: 90%; 
        margin: 15px auto;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px; 
      }
      
      .table__numbers {
        text-align: center;
        font-size: 0.9em; 
      }
      
      /*Comparison Image*/
      
      .comparison {
        font-family: 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em; 
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        margin-top: 20px; 
      }
      
      .comparison__image {
        display: flex;
        margin: 20px auto; 
        max-width: 90%; 
      
}


@media (max-width: 768px) {
    .character__content {
        flex-direction: column;
        align-items: center;
    }

    .character__images {
        border-right: none;
        border-bottom: 3px solid #ddd;
        width: 250px;
        height: 300px;
    }

    .character__bio {
        padding: 1rem;
        width: 100%
    }

    .nav {
        flex-direction: column; 
        align-items: center;
        padding: .5rem;
      }
    
      .nav__link {
        margin-right: 0;    /* Remove right margin on stacked links */
        margin-bottom: 0.5rem;
        
      }
     .hero__title{
            font-size: 2.5rem;
        }
    .hero__text{
            font-size: 1rem;
        }
      .box {
        width: 50%;       /* Two boxes per row on tablets */
        float: none;
        display: inline-block;
      }
      .footer{
        flex-direction: row;
        align-items: center;
      }
    .footer__links{
            justify-content: center;
            padding-bottom: 10px;
    }
}